https://stack.chubakbidpaa.com  {
    reverse_proxy 0.0.0.0:8090  {
    header_up Host {upstream_hostport}
	header_up X-Forwarded-Host {host}	

}
}

https://crayon.chubakbidpaa.com  {
    reverse_proxy 0.0.0.0:8888  {
    header_up Host {upstream_hostport}
	header_up X-Forwarded-Host {host}	

}
}